.cutlist-table {
    background: $charcoal;
    color: $downy;
    margin: $size-l;
    border-collapse: collapse;

    td {
        padding: $size-m;
        text-align: center;
    }

    tr:nth-child(odd) {
        background: $charcoal;
        color: $downy;
    }

    tr:nth-child(even) {
        background: $downy;
        color: $charcoal;
    }
}

@media print {
    .cutlist-table {
        background: white !important;
        margin: $size-xs !important;
        font-size: $font-size-xs !important;
        color: $charcoal !important;

        * {
            font-size: $font-size-xs !important;
        }

        td {
            padding: $size-xs !important;
        }

        tr:nth-child(odd) {
            background: lightgray !important;
            color: $charcoal !important;
        }

        tr:nth-child(even) {
            background: white !important;
            color: $charcoal !important;
        }

        tr {
            page-break-inside: avoid;
        }

        .no-break {
            page-break-inside: avoid;
        }
    }
}
