.project-container {
}

.project {
    cursor: pointer;
    margin: $size-m;
    padding: $size-m;
    background: $downy;
    color: $charcoal;

    @include clickable-secondary();
}

.project__remove-btn--container {
    text-align: center;
}

.project__remove-btn {
    @extend .btn-secondary;

    color: $catskill-white;
}