.btn {
    padding: $size-xs;
    border: none;
    border-radius: 5px;
    margin: $size-s;
    cursor: pointer;

    font-size: $font-size-xs;
    font-weight: bold;
}

.btn-primary {
    @extend .btn;

    background-color: $downy;
    color: $charcoal;
}

.btn-secondary {
    @extend .btn;

    background-color: lighten($alizarian-crimson, 9%);
    color: $charcoal;
}
