.container {
    font-size: $font-size-s;
    display: flex;
}

// Vertical Containers

.vertical-container {
    @extend .container;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.vertical-container__right-justified {
    @extend .vertical-container;

    justify-content: flex-end;
}

.vertical-container__right-aligned {
    @extend .vertical-container;

    align-items: flex-end;
}

// Horizontal Containers

.horizontal-container {
    @extend .container;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    > * {
        margin: $size-xs;
    }
}

.horizontal-container--wrap {
    flex-flow: row wrap;
}

.horizontal-container__right-justified {
    @extend .horizontal-container;

    justify-content: flex-end;
}

.horizontal-container__space-between-justified {
    @extend .horizontal-container;

    justify-content: space-between;
}

// Info Containers
.info-container {
    @extend .container;

    font-size: $font-size-m;
    background: $charcoal;
    color: $downy;
    flex-flow: column nowrap;
    margin: $size-xl;
}

.info-container__header {
    border-bottom: $downy 2px solid;
    margin: $size-s;
    text-align: center;
}

.info-container__body {
    margin: $size-s;
    text-align: left;
}