.input {
    padding: $size-s;
    color: $catskill-white;
    background: $charcoal;
    border: none;
    border-radius: 2px;

    font-size: $font-size-s;
    height: 50px;
}

.text-input {
    @extend .input;
}

.text-area-input {
    @extend .input;
    resize: vertical;
}

.select-input {
    @extend .input;
}

.checkbox-input {
    cursor: pointer;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    padding: $size-s;
    border-radius: 4px;
    background: $charcoal;
    color: $catskill-white;
    width: $size-s !important;
    height: $size-s;

    display: flex;
    justify-content: center;
    align-items: center;

    &:checked:after {
        content: '\2714';
    }
}