.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        padding: $size-xs;

        &:hover {
            transition-property: background, color;
            transition-duration: .5s;

            background: $catskill-white;
            color: $charcoal;
            border-radius: 5px;

            i {
                transition-property: color;
                transition-duration: .5s;
                color: $charcoal;
            }
        }
    }
}

.nav-links--horizontal {
    flex-flow: row nowrap;
}

.nav-links--vertical {
    flex-flow: column nowrap;
}