#project {
    width: 100%;
    height: 100%;
}

.cabinet-opening__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cabinet-opening {
    cursor: pointer;
    margin: $size-m;
    padding: $size-m;
}

.cabinet-opening:hover {
    background: $alizarian-crimson;
}

.project-settings {
    font-size: $font-size-m;
}
