.project-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.project {
    cursor: pointer;
    margin: $size-m;
    padding: $size-m;
    background: $downy;
    color: $charcoal;

    &:hover {
        background: $charcoal;
        color: $catskill-white;
    }
}
