#project {
    width: 100%;
    height: 100%;
}

.cabinet-opening__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cabinet-opening {
    cursor: pointer;
    margin: $size-m;
    padding: $size-m;
    background: $downy;
    color: $charcoal;

    &:hover {
        background: $charcoal;
        color: $catskill-white;
    }
}

.project-settings {
    font-size: $font-size-m;
}
