.header {
    margin: $size-l;
    font-weight: bold;
}

.page-header {
    // One Per Page
    @extend .header;

    font-size: $font-size-xl;
}

.page-sub-header {
    // One Per Section on a Page
    @extend .header;

    font-size: $font-size-l;
}

@media print {
    .header, .page-header, .page-sub-header {
        margin: $size-s !important;
    }

    .page-header {
        font-size: $font-size-m !important;
    }

    .page-sub-header {
        font-size: $font-size-s !important;
    }
}