{% extends "forms/base-form.html" %}

{% block styles %}
{{ super() }}
{% endblock styles %}

{% block body %}
    {% include 'flashed-messages.html' %}
    <div id="cabinet-opening" class="vertical-container">
        {% if is_edit %}
        <span class="page-header">Edit Cabinet Opening</span>
        {% else %}
        <span class="page-header">Add Cabinet Opening</span>
        {% endif %}

        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="horizontal-container">
                <div class="vertical-container__right-justified align-self-flex-start">
                    <span class="page-sub-header">Opening Specific Values</span>
                    {{ render_field(form.number_of_openings, class="text-input") }} 
                    {{ render_field(form.number_of_doors, class="text-input", data_bind="text: numberOfDoors()") }} 
                    {{ render_field(form.number_of_panels_per_door, class="text-input") }} 
                    {{ render_field(form.opening_width, class="text-input") }} 
                    {{ render_field(form.opening_height, class="text-input") }} 
                    {{ render_field(form.middle_gap, class="text-input") }} 
                    {{ render_field(form.center_rail_horizontal, class="checkbox-input") }} 
                </div>

                <div class="vertical-container__right-justified align-self-flex-start">
                    <span class="page-sub-header">Default Values</span>
                    {{ render_field(form.left_stile_width, class="text-input") }}
                    {{ render_field(form.right_stile_width, class="text-input") }}
                    {{ render_field(form.top_rail_width, class="text-input") }}
                    {{ render_field(form.bottom_rail_width, class="text-input") }}
                    {{ render_field(form.left_overlay, class="text-input") }}
                    {{ render_field(form.right_overlay, class="text-input") }}
                    {{ render_field(form.top_overlay, class="text-input") }}
                    {{ render_field(form.bottom_overlay, class="text-input") }}
                    {{ render_field(form.panel_gap, class="text-input") }}
                    {{ render_field(form.tennon_length, class="text-input") }} 
                    {{ render_field(form.center_rail_width, class="text-input") }} 
                </div>

                {% if is_edit %}
                <div class="vertical-container align-self-flex-start">
                    <span class="page-sub-header">Door Details</span>
                    <div class="cabinet-opening vertical-container__right-aligned">
                        {% include 'cabinet-opening-display.html' %}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="horizontal-container">
                <input class="btn-action" type="submit" value="Submit Opening"/>
                {% if is_edit %}
                <input class="btn-secondary" type="button" value="Remove Opening" data-bind="click: deleteCabinetOpening"/>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock body %}

{% block scripts %}
<script>
    var cabinetOpeningFromServer = {{cabinet_opening|tojson}};
</script>

<script>
    var projectIdFromServer = {{project_id|tojson}};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/cabinet-opening.bundle.js') }}"></script>
{% endblock scripts %}