{% extends "forms/base-form.html" %}

{% block styles %}
{{ super() }}
{% endblock styles %}

{% block body %}
    {% include 'flashed-messages.html' %}

    <form method="POST">
        <div>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <h1>Default Values</h1>
            {{ render_field(form.left_stile_width, class="text-input") }}
            {{ render_field(form.right_stile_width, class="text-input") }}
            {{ render_field(form.top_rail_width, class="text-input") }}
            {{ render_field(form.bottom_rail_width, class="text-input") }}
            {{ render_field(form.left_overlay, class="text-input") }}
            {{ render_field(form.right_overlay, class="text-input") }}
            {{ render_field(form.top_overlay, class="text-input") }}
            {{ render_field(form.bottom_overlay, class="text-input") }}
            {{ render_field(form.panel_gap, class="text-input") }}
            {{ render_field(form.tennon_length, class="text-input") }} 

            <h1>Custom Values</h1>
            {{ render_field(form.number_of_openings, class="text-input") }} 
            {{ render_field(form.number_of_doors, class="text-input") }} 
            {{ render_field(form.opening_width, class="text-input") }} 
            {{ render_field(form.opening_height, class="text-input") }} 
            {{ render_field(form.middle_gap, class="text-input") }} 
        </div>
        <input class="btn-primary" type="submit" value="Submit Opening"/>
    </form>
    <form method="DELETE">
        {% if cabinet_opening is not none %}
        <input class="btn-secondary" type="submit" value="Remove Opening"/>
        {% endif %}
    </form>
{% endblock body %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}