{% extends "forms/base-form.html" %}

{% block styles %}
{{ super() }}
{% endblock styles %}

{% block body %}
    <form method="POST" class="vertical-container">
        <div>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ render_field(form.first_name, class="text-input") }}
            {{ render_field(form.last_name, class="text-input") }}
            {{ render_field(form.address, class="text-input") }}
            {{ render_field(form.city, class="text-input") }}
            {{ render_field(form.state, class="text-input") }}
            {{ render_field(form.zip_code, class="text-input") }}
            {{ render_field(form.email, class="text-input") }}
        </div>
        <input type=submit class="btn-action" value="Create Client"/>
    </form>
{% endblock body %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}