{% extends "forms/base-form.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block styles %}
{{ super() }}
{% endblock styles %}

{% block body %}
    <form method="POST">
        <div>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ render_field(form.client) }}
            {{ render_field(form.left_stile_width) }}
            {{ render_field(form.right_stile_width) }}
            {{ render_field(form.top_rail_width) }}
            {{ render_field(form.bottom_rail_width) }}
            {{ render_field(form.left_overlay) }}
            {{ render_field(form.right_overlay) }}
            {{ render_field(form.top_overlay) }}
            {{ render_field(form.bottom_overlay) }}
            {{ render_field(form.panel_gap) }}
            {{ render_field(form.tennon_length) }}
        </div>
        <input type=submit value="Create project"/>
    </form>
{% endblock body %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}