{% extends "forms/base-form.html" %}

{% block styles %}
{{ super() }}
{% endblock styles %}

{% block body %}
    {% include 'flashed-messages.html' %}

    <form method="POST">
        <div>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ render_field(form.first_name, class="text-input") }}
            {{ render_field(form.last_name, class="text-input") }}
            {{ render_field(form.email, class="text-input") }}
            {{ render_field(form.password, class="text-input") }}
        </div>
        {% if user and user.first_name %}
        <input type=submit class="btn-action" value="Sign Up"/>
        {% else %}
        <input type=submit class="btn-action" value="Save Changes"/>
        {% endif %}
    </form>
{% endblock body %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}