{% extends "forms/base-form.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block styles %}
{{ super() }}
{% endblock styles %}

{% block body %}
    <form method="POST">
        <div>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_field(form.address) }}
            {{ render_field(form.city) }}
            {{ render_field(form.state) }}
            {{ render_field(form.zip_code) }}
            {{ render_field(form.email) }}
        </div>
        <input type=submit class="btn-primary" value="Create User"/>
    </form>
{% endblock body %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}