<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>

    {% macro render_field(field) %}
    <div>
        {{ field.label }}
        <div>
            {{ field(**kwargs)|safe }}
            {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% endmacro %}

    <form method="POST">
        <div>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
        </div>
        <input type=submit value="Sign Up" />
    </form>
</body>

</html>