{% extends "forms/base-form.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block styles %}
{{ super() }}
{% endblock styles %}

{% block body %}
<div id="login" class="vertical-container">
    <span class="page-header">Login</span>

    {% include 'flashed-messages.html' %}

    <form method="POST" class="vertical-container">
        <div>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ render_field(form.email, class="text-input") }}
            {{ render_field(form.password, class="text-input") }}
        </div>
        <input type=submit class="btn-action" value="Login" />
    </form>
</div>
{% endblock body %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}