{% extends "forms/base-form.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block styles %}
{{ super() }}
{% endblock styles %}

{% block body %}
    {% include 'flashed-messages.html' %}

    <form method="POST">
        <div>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ render_field(form.email, class="text-input") }}
            {{ render_field(form.password, class="text-input") }}
        </div>
        <input type=submit class="btn-primary" value="Login" />
    </form>
{% endblock body %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}