{% extends "forms/base-form.html" %}

{% block styles %}
{{ super() }}
{% endblock styles %}

{% block body %}
{% include 'flashed-messages.html' %}

    <form method="POST">
        <div>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ render_field(form.name, class="text-input") }}
            {{ render_field(form.client, class="select-input") }}
            {{ render_field(form.left_stile_width, class="text-input") }}
            {{ render_field(form.right_stile_width, class="text-input") }}
            {{ render_field(form.top_rail_width, class="text-input") }}
            {{ render_field(form.bottom_rail_width, class="text-input") }}
            {{ render_field(form.left_overlay, class="text-input") }}
            {{ render_field(form.right_overlay, class="text-input") }}
            {{ render_field(form.top_overlay, class="text-input") }}
            {{ render_field(form.bottom_overlay, class="text-input") }}
            {{ render_field(form.panel_gap, class="text-input") }}
            {{ render_field(form.tennon_length, class="text-input") }}
        </div>
        <input type=submit class="btn-primary" value="Submit Project"/>
    </form>
{% endblock body %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}