{% extends "forms/base-form.html" %}

{% block styles %}
{{ super() }}
{% endblock styles %}

{% block body %}
<div id="sign-up" class="vertical-container">
    <span class="page-header">Sign Up</span>

    {% include 'flashed-messages.html' %}

    <form method="POST" class="vertical-container">
        {{ form.csrf_token }}
        {{ render_field(form.first_name, class="text-input") }}
        {{ render_field(form.last_name, class="text-input") }}
        {{ render_field(form.email, class="text-input") }}
        {{ render_field(form.password, class="text-input") }}

        <input type=submit class="btn-action" value="Sign Up"/>
    </form>
</div>
{% endblock body %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}