<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <!-- <link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet"> -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

        <link rel="stylesheet" href="{{ url_for('static', filename='dist/styles.css') }}"/>
        {% block styles %}
        {% endblock styles %}
    </head>
    <body>
        <div id="app">
        {% include "header.html" %}

        {% block body %}
        {% endblock body %}

        {% include "footer.html" %}
        </div>

        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
