{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block body %}
    <ul>
        <li>
            <a href="/client/create">Create Client</a>
        </li>
        <li>
            <a href="/user/create">Create User</a>
        </li>
        <li>
            <a href="/project/create">Create Project</a>
        </li>
        <li>
            <a href="/project/list">Project List</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/admin">Admin</a>
        </li>
    </ul>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}