{% extends "base.html" %}

{% block styles %}
{% endblock styles %}

{% block body %}
<div id="home">
    <div class="nav-links nav-links--vertical">
        <a href="/clients/create">Create Client</a>
        <a href="/users/create">Create User</a>
        <a href="/projects/create">Create Project</a>
        <a href="/projects/list">Project List</a>
        <a href="/logout">Logout</a>
        <a href="/login">Login</a>
        <a href="/admin">Admin</a>
    </div>
</div>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}