{% extends "base.html" %}

{% block styles %}
{% endblock styles %}

{% block body %}
<div id="home" class="vertical-container full-width">
    <div class="info-container">
        <div class="info-container__header">
            <span class="page-header">Welcome to BitBelt!</span>
        </div>
        <div class="info-container__body">
            <p>BitBelt was created to assist in your cabinet crafting projects!</p>
        </div>
    </div>
</div>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}