{% extends "base.html" %}

{% block styles %}
{% endblock styles %}

{% block body %}
<div id="client-list" class="vertical-container full-width">
    <div class="horizontal-container__right-justified full-width">
        <button class="btn-action horizontal-container" data-bind="click: navigateToAddClient"><i class="icon-secondary fa fa-plus"></i>Client</button>
        <button class="btn-action horizontal-container" data-bind="click: navigateToActiveClientsList"><i class="icon-secondary fa fa-tasks"></i>Active Clients</button>
    </div>

    <!-- ko if: clients().length <= 0 -->
    <span class="page-sub-header">You have no inactive clients. Create a new client <a href="/clients/add">here</a>.</span>
    <!-- /ko -->

    <!-- ko if: clients().length > 0 -->
    <span class="page-header" data-bind="text: 'Inactive Client List (' + clients().length + ')'"></span>

        <!-- ko foreach: clients() -->
        <div class="horizontal-container">
            <div class="project" data-bind="click: $parent.navigate, text: firstName() + ' ' + lastName()"></div>
            <button class="btn-action horizontal-container" data-bind="click: $data.removeClient"><i class="icon-secondary fa fa-minus"></i>Remove</button>
        </div>
        <!-- /ko -->
    <!-- /ko -->
</div>
{% endblock body %}


{% block scripts %}
<script>
    var clientsFromServer = {{clients|tojson}};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/client-list.bundle.js') }}"></script>
{% endblock scripts %}