{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}"/>
{% endblock styles %}

{% block body %}
<div class="project-container">
    <input type="button" value="Add Door" id={{project.id}} class="btn-add-door"/>
    {{project.client.first_name}}

    {% for door in project.doors %}
    <div>{{door.left_style_width}}</div>
    {% endfor %}
</div>
{% endblock body %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/project.js') }}"></script>
{% endblock scripts %}