{% extends "base.html" %}

{% block styles %}
{% endblock styles %}

{% block body %}
<div id="project">
    {% include 'flashed-messages.html' %}

    <div class="project-container">
        <button class="btn-primary horizontal-container" data-bind="attr: {id: id()}, click: addCabinetOpening"><i class="icon-secondary fa fa-plus"></i>Cabinet Opening</button>
        <a data-bind="attr: {href: '/projects/' + id() + '/settings'}"><i class="fa fa-cog project-settings icon-primary"></i></a>

        <div class="cabinet-opening__container">
            <!-- ko foreach: cabinetOpenings() -->
            <a data-bind="attr: { href: '/projects/' + $parent.id() + '/cabinet-openings/' + id()}">
                <section class="cabinet-opening" data-bind="attr: { id: $parent.id() }">
                    <div class="vertical-container">
                        <span data-bind="text: 'Number of Openings - ' + numberOfOpenings()"></span>
                        <span data-bind="text: 'Number of Doors - ' + numberOfDoors()"></span>
                        <span data-bind="text: 'Opening Width - ' + openingWidth()"></span>
                        <span data-bind="text: 'Opening Height - ' + openingHeight()"></span>
                        <span data-bind="text: 'Middle Gap - ' + middleGap()"></span>
                        <span data-bind="text: 'Door Width - ' + calculateDoorWidth()"></span>
                    </div>
                </section>
            </a>
            <!-- /ko -->
        </div>
    </div>
</div>
{% endblock body %}


{% block scripts %}
<script>
    var projectFromServer = {{project|tojson}};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/project.bundle.js') }}"></script>
{% endblock scripts %}