{% extends "base.html" %}

{% block styles %}
{% endblock styles %}

{% block body %}
<div id="project-list" class="vertical-container">
    <span class="page-header">Project List</span>

    <div class="horizontal-container horizontal-container--wrap">
        {% if projects|length <= 0 %}
        <div>
            <span class="page-sub-header">You have no projects created. Create one <a href="/projects/create">here</a>.</span>
        </div>
        {% endif %}

        <!-- ko foreach: $data.projects() -->
        <section class="project" data-bind="click: $parent.navigate">
            <div class="horizontal-container__space-between-justified full-width">
                <span data-bind="text: 'Project Name:'"></span>
                <span data-bind="text: name()"></span>
            </div>
            <div class="horizontal-container__space-between-justified full-width">
                <span data-bind="text: 'Client:'"></span>
                <span data-bind="text: client().firstName() + ' ' + client().lastName()"></span>
            </div>
            <div class="horizontal-container__space-between-justified full-width">
                <span data-bind="text: 'Date Created:'"></span>
                <span data-bind="text: dateCreated()"></span>
            </div>
            <div class="horizontal-container__space-between-justified full-width">
                <span data-bind="text: 'Last Modified:'"></span>
                <span data-bind="text: lastModified()"></span>
            </div>
            <div class="horizontal-container__space-between-justified full-width">
                <span data-bind="text: 'Cabinet Openings:'"></span>
                <span data-bind="text: numberOfOpeningsInProject()"></span>
            </div>
        </section>
        <!-- /ko -->
    </div>
</div>
{% endblock body %}


{% block scripts %}
<script>
    var projectsFromServer = {{projects|tojson}};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/project-list.bundle.js') }}"></script>
{% endblock scripts %}