{% extends "base.html" %}

{% block styles %}
{% endblock styles %}

{% block body %}
<div id="project-list" class="project-container">
    {% if projects|length <= 0 %}
    <div>
        <span>You have no projects created. Create one <a href="/projects/create">here</a>.</span>
    </div>
    {% endif %}

    <!-- ko foreach: $data.projects -->
    <section class="project" data-bind="click: $parent.navigate">
        <div>
            <span data-bind="text: name()"></span>
        </div>
        <div>
            <span>Doors - </span>
            <span data-bind="text: cabinetOpenings().length"></span>
        </div>
        <div>
            <span>Client - </span>
            <span data-bind="text: client().firstName() + ' ' + client().lastName()"></span>
        </div>
    </section>
    <!-- /ko -->
</div>
{% endblock body %}


{% block scripts %}
<script>
    var projectsFromServer = {{projects|tojson}};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/project-list.bundle.js') }}"></script>
{% endblock scripts %}