{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/project-list.css') }}"/>
{% endblock styles %}

{% block body %}
<div class="project-container">
    {% if projects|length <= 0 %}
    <div>
        <span>You have no projects created. Create one <a href="/projects/create">here</a>.</span>
    </div>
    {% endif %}

    {% for project in projects %}
    <section class="project" id={{project.id}}>
        <div>
            <span>Doors - </span>
            <span>{{project.cabinet_openings|length}}</span>
        </div>
        <div>
            <span>Client - </span>
            <span>{{project.client.first_name}}</span>
            <span>{{project.client.last_name}}</span>
        </div>
    </section>
    {% endfor %} 
</div>
{% endblock body %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/project-list.js') }}"></script>
{% endblock scripts %}