{% extends "base.html" %}

{% block styles %}
{% endblock styles %}

{% block body %}
{% from "macros/render-field.html" import render_field %}

<div id="project-cutlist" class="vertical-container full-width">
    <div class="horizontal-container full-width">
        <div class="flex-1"></div>
        <div class="vertical-container full-width">
            <div class="horizontal-container__space-between-justified full-width">
                <span data-bind="text: clientDisplay()" class="page-sub-header"></span>
                <span data-bind="text: projectNameDisplay()" class="page-sub-header"></span>
            </div>
            <div class="horizontal-container align-self-flex-start">
                <span data-bind="text: woodSpeciesDisplay()" class="page-sub-header"></span>
            </div>
        </div>

        <div class="horizontal-container__right-justified flex-1">
            <button class="btn-action horizontal-container" data-bind="click: printPage"><i class="icon-secondary fa fa-print"></i>Print</button>
        </div>
    </div>

    <table class="cutlist-table">
        <tr>
            <td>Batch #</td>
            <td>Door</td>
            <td>Panels</td>
            <td>
                <div class="vertical-container">
                    <span>Rails</span>
                    <span data-bind="text: railDefaultWidthDisplay()"></span>
                </div>
            </td>
            <td>
                <div class="vertical-container">
                    <span>Stiles</span>
                    <span data-bind="text: stileDefaultWidthDisplay()"></span>
                </div>
            </td>
            <!-- ko if: project().totalNumberOfCenterRails() > 0 -->
            <td>
                <div class="vertical-container">
                    <span>Center Rails</span>
                    <span data-bind="text: centerRailDefaultWidthDisplay()"></span>
                </div>
            </td>
            <!-- /ko -->
        </tr>
        <!-- ko foreach: cutlistItems() -->
        <tr>
            <td data-bind="text: $index"></td>
            <td data-bind="text: doorDisplay()"></td>
            <td data-bind="text: panelDisplay()"></td>
            <td>
                <div class="vertical-container">
                    <!-- ko foreach: railDisplays() -->
                    <span data-bind="text: $data"></span>
                    <!-- /ko -->
                </div>
            </td>
            <td>
                <div class="vertical-container">
                    <!-- ko foreach: stileDisplays() -->
                    <span data-bind="text: $data"></span>
                    <!-- /ko -->
                </div>
            </td>
            <!-- ko if: $parent.project().totalNumberOfCenterRails() > 0 -->
            <td>
                <div class="vertical-container">
                    <!-- ko foreach: centerRailDisplays() -->
                    <span data-bind="text: $data"></span>
                    <!-- /ko -->
                </div>
            </td>
            <!-- /ko -->
        </tr>
        <!-- /ko -->
    </table>
    <div class="horizontal-container">
        <div class="vertical-container">
            <span class="page-sub-header">Stile Linear Feet</span>
            <!-- ko foreach: stileLinearFootageDisplay() -->
            <span data-bind="text: $data"></span>
            <!-- /ko -->
        </div>

        <div class="vertical-container">
            <span class="page-sub-header">Rail Linear Feet</span>
            <!-- ko foreach: railLinearFootageDisplay() -->
            <span data-bind="text: $data"></span>
            <!-- /ko -->
        </div>

        <!-- ko if: project().totalNumberOfCenterRails() > 0 -->
        <div class="vertical-container">
            <span class="page-sub-header">Center Rail Linear Feet</span>
            <!-- ko foreach: centerRailLinearFootageDisplay() -->
            <span data-bind="text: $data"></span>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</div>
{% endblock body %}

{% block scripts %}
<script>
    var projectFromServer = {{project|tojson}};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/project-cutlist.bundle.js') }}"></script>
{% endblock scripts %}