{% extends "base.html" %}

{% block styles %}
{% endblock styles %}

{% block body %}
<div id="project">
    <div class="vertical-container">
        <div class="horizontal-container full-width">
            <div class="flex-1"></div>
            <span data-bind="text: projectPageTitle()" class="page-header"></span>

            <div class="horizontal-container__right-justified flex-1">
                <button class="btn-action horizontal-container" data-bind="click: navigateToAddOpening"><i class="icon-secondary fa fa-plus"></i>Opening</button>
                <button class="btn-action horizontal-container" data-bind="click: navigateToCutlist"><i class="icon-secondary fa fa-th-list"></i>Cutlist</button>
                <button class="btn-action horizontal-container" data-bind="click: navigateToSettings"><i class="icon-secondary fa fa-cog"></i>Settings</button>

                <!-- ko if: !isFinished() -->
                <button class="btn-action horizontal-container" data-bind="click: finishProject"><i class="icon-secondary fa fa-flag-checkered"></i>Finish Project</button>
                <!-- /ko -->

                <!-- ko if: isFinished() -->
                <button class="btn-action horizontal-container" data-bind="click: unfinishProject"><i class="icon-secondary fa fa-undo"></i>Reopen Project</button>
                <!-- /ko -->
            </div>
        </div>

        <!-- ko if: cabinetOpenings().length > 0 -->
        <span class="page-sub-header" data-bind="text: 'Cabinet Openings (' + numberOfOpeningsInProject() + ')'"></span>

        <div class="horizontal-container horizontal-container--wrap">
            <!-- ko foreach: cabinetOpenings() -->
            <div class="cabinet-opening__clickable" data-bind="click: $parent.navigateToCabinetOpening">
                {% include 'cabinet-opening-display.html' %}
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko if: cabinetOpenings().length <= 0 -->
        <span class="page-sub-header">This project has no openings. Add one to see it here.</span>
        <!-- /ko -->
    </div>
</div>
{% endblock body %}


{% block scripts %}
<script>
    var projectFromServer = {{project|tojson}};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/project.bundle.js') }}"></script>
{% endblock scripts %}